#skill-section {
    background-image: url(../asset/bg2.png);
    background-size: 100%;
    width: 100%;
    background-repeat: repeat-y;
    height: 88.9vh;
    animation: bg-anim 10s infinite;
}

.skills {
    transition: all .2s;
}

.skills:hover .card-hover-show {
    display: block !important;
}

.skills:hover .card-hover-none {
    display: none !important;
}

.progress {
    width: 100%;
    overflow: visible !important;
    transition: all .2s;
}

.progress:hover {
    /* width: 80%; */
    overflow: visible !important;
}

.progress:hover>.hover-hide {
    display: none;
}

.progress:hover>.hover-show {
    transition: all .5s;
    display: block !important;
}

@keyframes bg-anim {
    0% {
        background-position-y: 0px;
    }

    50% {
        background-position-y: 20px;
    }

    100% {
        background-position-y: 0px;
    }
}