body {
    background-image: url(../asset/bg2.png);
    background-size: 100%;
    background-repeat: repeat-y;
    animation: bg-anim 10s infinite;
}

#pre-div {
    position: relative;
    top: -10px;
    right: -10px;
    transition: all .5s;
}

#my-pic-div {
    position: relative;
    top: -10px;
    right: -10px;
    /* background-color: #65f78a; */
    transition: all .5s;

}

#my-pic-div:hover {
    top: 0px;
    right: 0px;
    background-color: #ffffff;
}

#pre-div:hover {
    top: 0px;
    right: 0px;
}

#profile-section {
    width: 100%;
    /* height: 88.9vh; */
}

#skills {
    transition: all .2s;
}

#skills:hover .card-hover-show {
    display: block !important;
}

#skills:hover .card-hover-none {
    display: none !important;
}

.progress {
    width: 100%;
    overflow: visible !important;
    transition: all .2s;
}

.progress:hover {
    /* width: 80%; */
    overflow: visible !important;
}

.progress:hover>.hover-hide {
    display: none;
}

.progress:hover>.hover-show {
    transition: all .2s;
    display: block !important;
}

@keyframes bg-anim {
    0% {
        background-position-y: 0px;
    }

    50% {
        background-position-y: 20px;
    }

    100% {
        background-position-y: 0px;
    }
}